registermaschine-core/src/main/resources/dtd/instruction_file.dtd

<?xml version="1.0" encoding="utf-8" ?>

<!ELEMENT instruction-set (name, options?, conditionMacros?, instructions?, externalDevices?)>
<!ATTLIST instruction-set
        version (2) #REQUIRED>

<!ELEMENT name (#PCDATA)>

<!ELEMENT options (option*)>

<!ELEMENT option EMPTY>
<!ATTLIST option
        id CDATA #REQUIRED
        value (true|false) "true">

<!ELEMENT conditionMacros (conditionMacro*)>
<!ATTLIST conditionMacros internal (true|false) "false">

<!ELEMENT conditionMacro EMPTY>
<!ATTLIST conditionMacro
        name CDATA #REQUIRED
        value CDATA #REQUIRED>

<!ELEMENT instructions (instruction*)>
<!ELEMENT instruction (operand*, chain)>
<!ATTLIST instruction
        id ID #REQUIRED
        opcode CDATA #REQUIRED
        description CDATA #IMPLIED
        condition CDATA #IMPLIED>

<!ELEMENT operand EMPTY>
<!ATTLIST operand
        name CDATA #REQUIRED
        type (register|immediate|label) #REQUIRED
        concept (result|operand|target) #REQUIRED
        implicitValue CDATA #IMPLIED>

<!ELEMENT chain (step+)>

<!ELEMENT step (in*, out)>
<!ATTLIST step
        handler CDATA #REQUIRED
        condition CDATA #IMPLIED>

<!ELEMENT in EMPTY>
<!ATTLIST in
        ref CDATA #REQUIRED>

<!ELEMENT out EMPTY>
<!ATTLIST out
        to CDATA #IMPLIED>

<!ELEMENT externalDevices (device*)>

<!ELEMENT device (size, memoryMappings)>
<!ATTLIST device
        handler #REQUIRED>

<!ELEMENT size (#PCDATA)>
<!ATTLIST size
        unit (B|KB|MB) #REQUIRED>

<!ELEMENT memoryMappings (memoryMapping*)>

<!ELEMENT memoryMapping (size)>
<!ATTLIST memoryMapping
        handler #REQUIRED>
